body {background-color: #14C38E;}
hr{border-style: none; border-top-style:dotted; border-color: #C70A80; border-width: 2px; width: 1000%;}
h1{font-size: 32px;
  color:white;
width: 60%;}
.h2{color:#C70A80;
border-style: none;
background-color: #FFF323;
width: 25%;}
h3{color: blue;
}
#h2{color: white;}
.p1{color: white;}
.i{background-color: #FFF323;
  border-style: dotted;
border-color: #FFF323}
